.footer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.links span:hover{
cursor: pointer;
color: rgb(255, 123, 0);
transition: all linear 0.3s;
}
.footer-bg{
    background: linear-gradient(gray, black);
}